<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>RERA FORM (H)</title>
</head>

<body>
  <div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="color:#000;">
      <tr>
        <td align="center" valign="middle" style="padding:15px 0"><img src="http://phloxblog.in/rera-app/assets/images/rera-logo.png" /></td>
      </tr>
      <tr>
        <td align="center" valign="middle" style="font-size:24px; line-height:26px; font-weight:600">REAL ESTATE
          REGULATORY AUTHORITY, BIHAR</td>
      </tr>
      <tr>
        <td align="center" valign="middle"
          style="font-size:12px; line-height:18px; border-bottom:2px solid #000; padding-bottom:20px;">4<sup>TH</sup>
          /6<sup>TH</sup> FLOOR, BIHAR STATE BUILDING CONSTRUCTION CORPORATION LIMITED COMPLEX, SHASTRI NAGAR PATNA -
          800023</td>
      </tr>
      <tr>
        <td align="center" valign="middle" style="padding-top:15px;font-size:16px; line-height:18px;font-weight:600">
          FORM 'H'</td>
      </tr>
      <tr>
        <td align="center" valign="middle" style="padding:3px 0;font-size:15px; line-height:15px;font-weight:600">[See
          rule 10(2)]</td>
      </tr>
      <tr>
        <td align="center" valign="middle"
          style="font-size:16px; line-height:18px;text-decoration:underline; padding-bottom:20px;font-weight:600">
          REGISTRATION CERTIFICATE OF REAL ESTATE AGENT</td>
      </tr>
      <tr>
        <td align="left" valign="middle" style="font-size:12px; line-height:18px;padding-bottom:5px;">This registration
          is granted under section 9 with registration certificate bearing Agent Registration number :<strong
            style="text-decoration: underline;"> BRERAA80211/79/A<span>..............</span>/2022</strong></td>
      </tr>
      <tr>
        <td align="left" valign="middle">
          <p style="font-size:12px;text-align:center ;">
            <strong style="text-decoration:underline ;"> <%= userName %></strong>, having its
            [registred office/principal place of business] at <strong style="text-decoration:underline ;"> <%= Address %>, <%= District %> <%= State %>-<%= Pincode %>, Mob No- <%= ContactNo %> -All Bihar</strong></strong>
          </p>
          <p style="font-size:12px;padding-bottom:5px;">to act as a real estate agent to facilitate the sale or purchase
            of any plot, apartment or building, as
            the case may be, in real estate projects registered in the <strong> RERA BIHAR</strong> State in terms of
            the Act
            and the rules and regulations made there under,</p>
        </td>
      </tr>
      <tr>
        <td align="left" valign="middle">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="top"
                style="font-size:12px;padding-bottom:5px;padding-right:5px; font-weight:600;">2.</td>
              <td align="left" valign="top" style="font-size:12px;padding-bottom:5px;">This registration is granted
                subject to the following conditions, namely:-</td>
            </tr>

            <tr>
              <td align="left" valign="top"
                style="font-size:12px;padding-bottom:5px;padding-right:5px; font-weight:600;">i.</td>
              <td align="left" valign="top" style="font-size:12px;padding-bottom:5px;">The real estate. agent shall not
                facilitate the sale or purchase of any plot, apartment or
                building, as the case may be, in a real estate project or part of it, being sold by the promoter which
                is required but not registered with the Authority;</td>
            </tr>
            <tr>
              <td align="left" valign="top"
                style="font-size:12px;padding-bottom:5px;padding-right:5px; font-weight:600;">ii.</td>
              <td align="left" valign="top" style="font-size:12px;padding-bottom:5px;">The real estate agent shall
                maintain and preserve such books of account, records and documents as provided under rule 13;</td>
            </tr>
            <tr>
              <td align="left" valign="top"
                style="font-size:12px;padding-bottom:5px;padding-right:5px; font-weight:600;">iii.</td>
              <td align="left" valign="top" style="font-size:12px;padding-bottom:5px;">The real estate agent shall not
                involve himself in any unfair trade practices as specified
                under clause (c) of section 10;</td>
            </tr>
            <tr>
              <td align="left" valign="top"
                style="font-size:12px;padding-bottom:5px;padding-right:5px; font-weight:600;">iv.</td>
              <td align="left" valign="top" style="font-size:12px;padding-bottom:5px;">The real estate agent shall
                facilitate the possession of all information and documents, as the allottee is entitled to, at the time
                of booking of any plot, apartment or building, as the case may be;</td>
            </tr>
            <tr>
              <td align="left" valign="top"
                style="font-size:12px;padding-bottom:5px;padding-right:5px; font-weight:600;">v.</td>
              <td align="left" valign="top" style="font-size:12px;padding-bottom:5px;">The real estate agent shall
                provide assistance to enable the allottee and promoter to exercise their respective rights and fulfill
                their respective obligations at the time of booking and sale of any plot, apartment or building, as the
                case may be;</td>
            </tr>
            <tr>
              <td align="left" valign="top"
                style="font-size:12px;padding-bottom:5px;padding-right:5px; font-weight:600;">vi.</td>
              <td align="left" valign="top" style="font-size:12px;padding-bottom:5px;">The real estate agent shall
                comply with the provisions of the Act and the rules and regulations made there under;
              </td>
            </tr>

          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="middle" style="padding:50px 0 30px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="top" width="50%">
                <p style="margin:0; padding:0; font-size:12px;">Memo
                  NO-RERA/PRO-REG-914/2019/<span>...................</span><br><strong
                    style="text-decoration: underline;"> RERA/PRO-REG/Master File/Misc/115/2021</strong></p>
                <p style="margin:0; padding:10px 0 0; font-size:12px;">Copy to: Chairman RERA/ Members RERA/ A & A
                  Engico Pvt. Ltd</p>
                <p style="margin:0; padding:10px 0 0; font-size:12px;">Copy to: Branch Manager HDFC Bank, Raja Bazar,
                  Patna</p>
              </td>
              <td align="right" valign="top" width="50%">
                <p style="margin:0; padding:0; font-size:12px;">Date : <span>................................</span></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="middle" style="padding:30px 0 30px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="middle" width="50%">
                <p style="margin:0; padding:0; font-size:12px;"></p>
                <p style="margin:0; padding:10px 0 0; font-size:12px;"></p>
              </td>
              <td align="right" valign="middle" width="5%">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" valign="middle"><img src="images/damo-sig.jpg" /></td>
                  </tr>
                  <tr>
                    <td align="center" valign="middle">
                      <p style="margin:0; padding:0; font-size:12px; width:300px; text-align:center;">Signature and seal
                        of the Authorized Officer
                        Real Estate- Regulatory Authority</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="middle" style="padding:50px 0 30px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="middle"><p style="margin:0; padding:0; font-size:12px;">Typed By : <span>................................</span></p></td>
              <td align="center" valign="middle"><p style="margin:0; padding:10px 0 0; font-size:12px;">Checked By : <span>................................</span></p></td>
              <td align="right" valign="middle"><p style="margin:0; padding:10px 0 0; font-size:12px;">Rechecked By : <span>................................</span></p></td>
            </tr>
            <tr>
              <td colspan="3">
                <p>&nbsp;</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>