<!DOCTYPE  html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>REGISTRATION CERTIFICATE OF PROJECT</title>
      <style type="text/css"> * {margin:0; padding:0; text-indent:0; }
         .s1 { color: #231F20; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; vertical-align: 1pt; }
         .s2 { color: #231F20; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
         .s3 { color: #231F20; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 15pt; }
         .p, p, span { color: #231F20; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11px; margin:0pt; }
         
         .s4 { color: #231F20; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; font-size: 13pt; }
         h2 { color: #231F20; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 13pt; }
         h1 { color: #231F20; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 15pt; }
         li {display: block; }
         #l1 {padding-left: 0pt;counter-reset: c1 1; }
         #l1> li>*:first-child:before {counter-increment: c1; content: counter(c1, decimal)". "; color: #231F20; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 13pt; }
         #l1> li:first-child>*:first-child:before {counter-increment: c1 0;  }
         #l2 {padding-left: 0pt;counter-reset: c2 1; }
         #l2> li>*:first-child:before {counter-increment: c2; content: counter(c2, lower-latin)". "; color: #231F20; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 13pt; }
         #l2> li:first-child>*:first-child:before {counter-increment: c2 0;  }
      </style>
   </head>
   <body>
   <div style="padding:15px;padding-left:20px;padding-right:20px;">
      <!-- <div style="border: 0px solid black;size: 7in 9.25in;margin: 27mm 16mm 27mm 16mm;">'; -->
      <h2 style="text-indent: 0pt;text-align: center;">FORM &#39;C&#39;</h2>
      <h2 style="text-indent: 0pt;text-align: center;">&nbsp;</h2>
      <h1 style="text-indent: 0pt;text-align: center;">REGISTRATION CERTIFICATE OF PROJECT</h1>
      <!-- <p style="text-indent: 0pt;text-align: left;"><br/></p> -->
      <br>
      <p style="padding-top: 6pt;padding-left: 5pt;text-indent: 0pt;line-height: 15pt;text-align: left;">This registration is granted under section 5 to the following project under project registration number</p>
      <p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;"> <span style="text-decoration: underline;"><%= REGISTRATION_NUMBER %></span> <span> : [Specify  Details of Project including the project address];</span></p>
      <ol id="l1">
         <li data-list-text="1.">
            <p style="padding-top: 3pt;padding-left: 27pt;text-indent: -21pt;text-align: left;">[in the case of an individual] [Mr./Ms.] <%= Full_Name %> &nbsp;son of [Mr./Ms.]</p>
            <p class="s4" style="padding-top: 3pt;padding-left: 15pt;text-indent: 0pt;text-align: left;"> <span style="text-decoration: underline;"><%= Gurdian_Name %></span> <span class="p">Tehsil </span><span style="text-decoration: underline;"><%= Tehsil %></span> <span class="p">District </span><span style="text-decoration: underline;"><%= District %></span> <span class="p">State</span> <span style="text-decoration: underline;"><%= State %></span> </p>
            <p style="padding-top: 3pt;text-indent: 0pt;text-align: center;">; OR</p>
            <p style="padding-top: 4pt;text-indent: 0pt;text-align: justify;">[in the case of a firm / society / company / competent  authority etc.] <span style="text-decoration: underline;"><%= Company_Name %></span> [firm / society / company / competent authority etc.] <span style="text-decoration: underline;"><%= Company_Name %></span> having  its [registered office / principal place of business] at <span style="text-decoration: underline;"><%= Address %></span> .</p>
         </li>
         <li data-list-text="2.">
            <p style="padding-top: 4pt;padding-left: 27pt;text-indent: -21pt;text-align: justify;">This registration is granted subject to the following conditions, namely:-</p>
            <ol id="l2">
               <p style="padding-top: 4pt;padding-left: 49pt;text-indent: -21pt;text-align: justify;">a. The promoter shall enter into an agreement for sale with the allottees as prescribed by the State Government;</p>
               </li>
               <p style="padding-top: 4pt;padding-left: 49pt;text-indent: -21pt;text-align: justify;">b. The promoter shall execute and register a conveyance deed in favour of the allottee or the association of the allottees, as the case may be, of the apartment, plot or building, as the case may be, or the common areas as per section 17;</p>
               </li>
               <p style="padding-top: 4pt;padding-left: 49pt;text-indent: -21pt;text-align: justify;">c. The promoter shall deposit seventy per cent. of the amounts realised by the promoter in a separate account to be maintained in a schedule bank to cover the cost of construction and the land cost to be used only for that purpose as per sub-clause (D) of clause (l) of sub-section (2) of section 4;</p>
               </li>
               <p style="padding-top: 4pt;padding-left: 49pt;text-indent: -21pt;line-height: 15pt;text-align: justify;">d. The registration shall be valid for a period of <span style="text-decoration: underline;"><%= VALIDATION_YEAR %></span> years  commencing from</p>
               <p class="s4" style="padding-left: 49pt;text-indent: 0pt;text-align: justify;"> <span style="text-decoration: underline;"><%= VALIDATION_START_DATE %></span> <span class="p">and ending with </span><span style="text-decoration: underline;"><%= VALIDATION_END_DATE %></span> <span class="p">unless  extended  by the  Authority in accordance with the Act and the rules made thereunder;</span></p>
               </li>
               <p style="padding-top: 4pt;padding-left: 49pt;text-indent: -21pt;text-align: justify;">e. The promoter shall comply with the provisions of the Act and the rules and regulations made thereunder;</p>
               </li>
               <p style="padding-top: 4pt;padding-left: 49pt;text-indent: -21pt;text-align: justify;">f. The promoter shall not contravene the provisions of any other law for the time being in force as applicable to the project.</p>
               </li>
            </ol>
         </li>
         <li data-list-text="3.">
            <p style="padding-top: 4pt;padding-left: 27pt;text-indent: -21pt;text-align: justify;">If the above mentioned conditions are not fulfilled by the promoter, the Authority may take necessary action against the promoter including revoking the registration granted herein, as per the Act and the rules and regulations made thereunder.</p>
         </li>
      </ol>
      <p style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Dated:</p>
      <div style="border: 0px solid black;">
         <div style="border: 0px solid black;padding-left: 6px;width: 48%;float: left;">Place:</div>
         <div style="border: 0px solid black;width: 48%;float: right;text-align: right;">Signature and seal of the Authorised Officer</div>
      </div>
      <div style="clear: both;"></div>
      <p style="text-indent: 0pt;text-align: right;">Real Estate Regulatory Authority</p>
     </div>
   </body>
</html>
