<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>RERA PDF</title>
</head>
<body >
<div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="color:#000;">
    <tr>
      <td align="center" valign="middle" style="padding:15px 0"><img src="images/rera-logo.png" /></td>
    </tr>
    <tr>
      <td align="center" valign="middle" style="font-size:24px; line-height:26px; font-weight:600">REAL ESTATE REGULATORY AUTHORITY, BIHAR</td>
    </tr>
    <tr>
      <td align="center" valign="middle" style="font-size:14px; line-height:18px; border-bottom:2px solid #000; padding-bottom:20px;">4<sup>TH</sup> /6<sup>TH</sup> FLOOR, BIHAR STATE BUILDING CONSTRUCTION CORPORATION LIMITED COMPLEX, SHASTRI NAGAR PATNA - 800023</td>
    </tr>
    <tr>
      <td align="center" valign="middle" style="padding-top:15px;font-size:16px; line-height:18px;font-weight:600">FORM 'C'</td>
    </tr>
    <tr>
      <td align="center" valign="middle" style="padding:3px 0;font-size:15px; line-height:15px;font-weight:600">[See rule 5(1)]</td>
    </tr>
    <tr>
      <td align="center" valign="middle" style="font-size:16px; line-height:18px;text-decoration:underline; padding-bottom:20px;font-weight:600">REGISTRATION CERTIFICATE OF PROJECT</td>
    </tr>
    <tr>
      <td align="left" valign="middle" style="font-size:14px; line-height:18px;padding-bottom:5px;">This registration is granted under section 5 of the Bihar Real Estate (Regulation & Development) Rules, 2017 to the following project:</td>
    </tr>
    <tr>
      <td align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="middle" style="width:200px;padding-bottom:5px;">Project Registration Number</td>
            <td align="left" valign="middle" style="width:30px;padding-bottom:5px;">:</td>
            <td align="left" valign="middle" style="font-weight:600; text-decoration:underline; font-size:14px;padding-bottom:5px;"><%= REGISTRATION_NUMBER %></td>
          </tr>
          <tr>
            <td align="left" valign="middle" style="padding-bottom:5px;">Project Name</td>
            <td align="left" valign="middle"style="padding-bottom:5px;">:</td>
            <td align="left" valign="middle" style="font-weight:600; text-decoration:underline; font-size:14px;padding-bottom:5px;"><%= Project_Name %> (New Project)</td>
          </tr>
          <tr>
            <td align="left" valign="middle"style="padding-bottom:5px;">Project Address</td>
            <td align="left" valign="middle"style="padding-bottom:5px;">:</td>
            <td align="left" valign="middle" style="font-weight:600; text-decoration:underline; font-size:14px;padding-bottom:5px;"><%= Address_Line_one %> Khesra/ Plot No-3623, Khata No. 67, Thana _No.- <%= Thana %>,  Mauza- <%= Mauja %>), Sub division/District : <%= District_Project_Info %></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px; font-weight:600;">1.</td>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">Company <%= Company_Name %> Developers. having its registered office at <%= Registered_Office_Address_Line_one %></td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px; font-weight:600;">2.</td>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" colspan="2" style="font-size:14px;padding-bottom:5px;">This registration is granted subject to the following conditions, namely :</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px; font-weight:600;">a.</td>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">The promoter shall enter into an agreement for sale with the allottee as prescribed by the State Government[Refer Rule 8, Annexure of Bihar Real Estate  (Regulation And Development) Rules, 201 FY) 5</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px; font-weight:600;">b.</td>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">The promoter shall execute and register a conveyance deed in favour of the allottee or the association of the allottees, as the case may be, of the apartment, plot or building, as the case may be, or the common areas as per Section17;</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px; font-weight:600;">c.</td>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">The promoter shall deposit seventy per cent. of the amounts realized by the promoter in a separate account to be maintained in a schedule bank (State Bank of India, Branch Name-Maranga, Purnea, Account No. 00000040019833751, IFSC Code : SBIN0015052) to cover the cost of construction and the land cost to be used only for that purpose as per sub-clause (D) of clause (1) of sub-section (2) of Section4; </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px; font-weight:600;">d.</td>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">The registration shall be valid for a period of <%= VALIDATION_YEAR %> years ........ Months commencing from <%= VALIDATION_START_DATE %> And ending with <b style="text-decoration:underline;"><%= VALIDATION_END_DATE %></b> (Subject to extension of  validity of map from Competent Authority) unless extended by the Authority in accordance with the Act and the rules made there under;</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px; font-weight:600;">e.</td>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">The promoter shall comply with the provisions of the Act and the rules and regulations made there under; including quarterly report of the project.</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px; font-weight:600;">f.</td>
                  <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">The promoter shall not contravene the provisions of any other law for the time being in force as applicable to the project.</td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px; font-weight:600;">3.</td>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">If the above mentioned conditions are not fulfilled by the promoter, the Authority may take necessary action against the promoter including revoking the registration granted here in, as per the Act and the rules and regulations made there under.</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td align="left" valign="middle" style="padding:50px 0 30px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="middle" width="50%"><p style="margin:0; padding:0; font-size:14px;">Date : <span>...................</span></p>
              <p style="margin:0; padding:10px 0 0; font-size:14px;">Place : <span>..................</span></p></td>
            <td align="right" valign="middle" width="5%">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="middle"><img src="images/damo-sig.jpg" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p style="margin:0; padding:0; font-size:14px; width:300px; text-align:center;">Signature and seal of the Authorized Officer
                Real Estate- Regulatory Authority</p></td>
  </tr>
</table>



            </td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" align="left" valign="top" style="font-size:16px;padding-bottom:5px;"><b>NOTE</b></td
          >
          </tr>
          <tr>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px;">1)</td>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">This registration is being granted based on the information and documents furnished by the Promoter and the Authority bears no responsibility for the authenticity of the same. In case the promoter submitted a false or invalid document or credential, it may lead to the cancellation of  registration of the project by the Authority. Registration granted cannot be construed as evidence in respect of right, conversion of land, use title or interest of the plot over which plan is approved,</td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px;">2)</td>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">With regard to the information or documents that are not provided by the concerned promoter, the Authority has ensured that written explanation or reason for the same has been submitted to the Authority and it would be put up on the website for public viewing.</td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px;">3)</td>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">The above registration is valid for a period of .............. as provided in 2(d), subject to the condition that the promoter shall get their map validated for such period from the map sanctioning authority as required under Bihar Building Bye- laws and resubmit the same to the RERA, Bihar,
              Failure in submitting the validated map may lead to the cancellation of registration of the project by the Authority.</td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px;">4)</td>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">Promoter shall ensure compliance to all NOCs and obtain Occupancy Permission from the Competent Authority as required under Bihar Building Bye Laws, 2014</td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px;">5)</td>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">Open Parking area comes in common area, and as such it cannot be sold.</td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px;">6)</td>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;">At the project construction site, display of project details on a 6’x 6’ board is essential.</td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;padding-right:5px;"><b>7)</b></td>
            <td align="left" valign="top" style="font-size:14px;padding-bottom:5px;"><b>In case of any papers not found in order, the same should be made available within one
              month.</b></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td align="left" valign="middle" style="padding:20px 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="middle" style="font-size:14px;">Memo NO-RERA/PRO-REG-07/2021/........</td>
            <td align="right" valign="middle" style="font-size:14px;">Date ..............................</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td align="left" valign="middle" style="font-size:14px; padding-bottom:5px;">Copy to: Chairman RERA/ Members RERA/ Swarn Bhoomi Developers.</td>
    </tr>
    <tr>
      <td align="left" valign="middle" style="font-size:14px; padding-bottom:5px;">Copy to: Branch Manager State Bank of India, Maranga, Purnea</td>
    </tr>
    <tr>
      <td style="padding:50px 0 30px;" valign="middle" align="left"><table width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody><tr>
            <td width="50%" valign="middle" align="left">
              </td>
            <td align="right" valign="middle" width="5%">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="middle"><img src="images/damo-sig.jpg" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p style="margin:0; padding:0; font-size:14px; width:300px; text-align:center;">Signature and seal of the Authorized Officer
                Real Estate- Regulatory Authority</p></td>
  </tr>
</table>



            </td>
          </tr>
        </tbody></table></td>
    </tr>
    <tr>
      <td style="padding:50px 0 30px;" valign="middle" align="left"><table width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody><tr>
            <td valign="middle" align="left"><p style="margin:0; padding:0; font-size:14px;">Typed By : <span>...................</span></p></td>
            <td valign="middle" align="right"><p style="margin:0; padding:0; font-size:14px;">Checked By : <span>...................</span></p></td>
            <td valign="middle" align="right"><p style="margin:0; padding:0; font-size:14px;">Rechecked By : <span>...................</span></p></td>
          </tr>
        </tbody></table></td>
    </tr>
  </table>
</div>
</body>
</html>