<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>RERA FORM (D)</title>
</head>

<body>
    <div style="padding-left: 50px;padding-right: 40px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="color:#000;">
            <tr>
                  <td align="center" valign="middle" style="padding:15px 0"><img src="http://phloxblog.in/rera-app/assets/images/rera-logo.png" /></td>
             </tr>
            <tr>
                <td align="center" valign="middle" style="font-size:24px; line-height:26px; font-weight:600">REAL ESTATE
                    REGULATORY AUTHORITY, BIHAR</td>
            </tr>
            <tr>
                <td align="center" valign="middle"
                    style="font-size:12px; line-height:18px; border-bottom:2px solid #000; padding-bottom:20px;">
                    4<sup>TH</sup>
                    /6<sup>TH</sup> FLOOR, BIHAR STATE BUILDING CONSTRUCTION CORPORATION LIMITED COMPLEX, SHASTRI NAGAR
                    PATNA -
                    800023</td>
            </tr>
            <tr>
                <td align="center" valign="middle"
                    style="padding-top:15px;font-size:16px; line-height:18px;font-weight:600">
                    FORM 'D'</td>
            </tr>
            <tr>
                <td align="center" valign="middle"
                    style="padding:3px 0;font-size:15px; line-height:15px;font-weight:600">[See
                    rule 5(2), rule 6(4), rule 7]</td>
            </tr>
            <tr>
                <td align="center" valign="middle"
                    style="font-size:16px; line-height:18px;text-decoration:underline; padding-bottom:20px;font-weight:600">
                    INTIMATION OF REJECTION OF APPLICATION FOR <%= HEADING %></td>
            </tr>
            <tr>
                <td style="font-size:12px; color: #000;">From :</td>
            </tr>
            <tr>
                <td style="padding-left: 70px;font-size:12px; color: #000;">The Real Estate Regulatory Authority Bihar</td>
            </tr>
            <tr>
                <td style="padding-left: 70px; padding-bottom: 20px; padding-top: 20px;font-size:12px; color: #000;">
                    ____________________________________________</td>
            </tr>
            <tr>
                <td style="padding-left: 70px;font-size:12px; color: #000;">____________________________________________
                </td>
            </tr>
            <tr>
                <td style="padding-top: 20px;font-size:12px; color: #000;">To :</td>
            </tr>

            <tr>
                <td style="padding-left: 70px; padding-bottom: 20px; padding-top: 0px;font-size:12px; color: #000;">
                    <%= username %> </td>
            </tr>
            <tr>
                <td style="padding-left: 70px;font-size:12px; color: #000;">____________________________________________
                </td>
            </tr>
            <tr>
                <td style="padding-left: 70px;padding-top: 30px; font-size:12px; color: #000;">
                    [Application/Registration] No.: <b> <%= projectuid %> </b> Dated: <b> <%= CurrentDate %> </b> </td>
            </tr>
            <tr>
                <td style="padding-left: 0px;padding-top: 30px; font-size:12px; color: #000;"> <%= CONTENT %> </td>
            </tr>

            <tr>
                <td style="padding-left: 0px;padding-top: 20px; font-size:12px; color: #000;">or the reasons set out: <%= reason %> </td>
            </tr>
            <tr>
                <td style="padding-left: 0px;padding-top: 20px; font-size:12px; color: #000;">Place: </td>
            </tr>
            <tr>
                <td style="padding-left: 0px;padding-top: 20px; font-size:12px; color: #000;">Date: </td>
            </tr>
            <tr>
                <td style="padding-left: 0px;padding-top: 20px; font-size:12px; color: #000;text-align: right;">Signature and seal of the Authorised Officer </td>
            </tr>
            <tr>
                <td style="padding-left: 0px;padding-top: 20px; font-size:12px; color: #000; text-align: right;">Real Estate Regulatory Authority </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>


        </table>
    </div>
</body>

</html>
